<header class="header">
    <div class="header__container">
        <ul class="header__nav">
            <li><a href="#">Despre noi</a></li>
            <li><a href="#">Vinuri</a></li>
            <li><a href="#">Contacte</a></li>
        </ul>
        <a href="/">
            <img src="@img/logo.svg" alt="">
        </a>
        <ul class="header__nav">
            <li><a href="#">Awwards</a></li>
            <li><a href="#">Partners</a></li>
            <li class="language">
                <a href="#">RO</a>
            </li>
        </ul>
    </div>
</header>