@font-face {
    font-family: Bliss Pro;
    font-display: swap;
    src: url('../fonts/BlissPro-Regular.woff2') format('woff2'), url('../fonts/Bliss Pro Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: BlissPro;
    font-display: swap;
    src: url('../fonts/BlissPro-Bold.woff2') format('woff2'), url('../fonts/BlissPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: BlissPro;
    font-display: swap;
    src: url('../fonts/BlissPro-Light.woff2') format('woff2'), url('../fonts/BlissPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: BlissPro;
    font-display: swap;
    src: url('../fonts/BlissPro-LightItalic.woff2') format('woff2'), url('../fonts/BlissPro-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: BlissPro;
    font-display: swap;
    src: url('../fonts/BlissPro-Medium.woff2') format('woff2'), url('../fonts/BlissPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: PlayfairDisplay;
    font-display: swap;
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'), url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}